// Any time you want blog, article, or "Overview" text styling, apply this class
// to the wrapping container. Could use a better name.
.format-text {
    h1 {
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.335em;
    }

    h2 {
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.415em;
    }

    h3 {
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    h4 {
        margin-top: 1.33em;
        margin-bottom: 0.665em;
    }

    h5 {
        font-size: 0.83em;
        margin-top: 1.67em;
        margin-bottom: 0.835em;
    }

    h6 {
        font-size: 0.67em;
        margin-top: 2.33em;
        margin-bottom: 1.165em;
    }

    p { margin: 0.62em 0; }

    ol,
    ul {
        margin: 0.62em 0;
        padding-left: 1.5em;
        line-height: $base-line-height;

        li {
            margin: 0.62em 0;

            p { margin: 0; }
        }

        ol,
        ul { margin: 0; }
    }

    ol { list-style-type: decimal; }

    ul { list-style-type: disc; }
}

// List styles
// - Standard bulleted and numbered lists
// - Also has nicely aligned checkbox/radio button lists
// - Supports nested lists
.list {
    margin-top: 0.62em;
    margin-bottom: 0.62em;
    padding-left: 1.5em;
    line-height: $base-line-height;

    .list__item {
        margin-top: 0.62em;
        margin-bottom: 0.62em;
    }

    &--decimal { list-style-type: decimal; }

    &--bullet { list-style-type: disc; }

    &--input {
        .list__item { @extend %clearfix; }

        input[type="checkbox"],
        input[type="radio"] {
            float: left;
            margin-left: -1.5em;
        }
    }
}


// Wells

.well {
    position: relative;
    padding: 1rem;
    background-color: get-color(gray, lightest);
    border-left: 5px solid get-color(gray, light);
    border-radius: 4px;

    @include clearfix;
}

.well--info {
    background-color: get-color(tan, lightest);
    border-color: get-color(tan, light);
    color: get-color(tan, darkest);
}

.well--alert {
    padding-left: calc(1rem + 48px + 1rem);
    background-color: get-color(coral, lightest);
    border-color: get-color(coral, light);
    color: get-color(coral, darkest);

    &:before {
        content: url('images/jolly-roger-alert.png');
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }
}

// Text
// -----------------------------------------------------------------------------

.u-normal { font-weight: 400;   }
.u-bold   { font-weight: 700;   }
.u-italic { font-style: italic; }
.u-muted { opacity: 0.5; }



// CSS Grids
// -----------------------------------------------------------------------------

.u-grid {
    margin: 0;
    padding: 0;
    list-style: none;
}

.u-grid--collapse {
    .u-grid__row { margin: 0; }
    .u-grid__col { padding: 0; }
}

.u-grid__row {
    @include clearfix;
    display: block;
    position: relative;
    margin-top: 10px;
    margin-right: -10px;
    margin-left: -10px;

    &:first-child { margin-top: 0; }
}

.u-grid__col {
    @include clearfix;
    position: relative;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.u-grid__col--1  { width:  (1/12) * 100%; }
.u-grid__col--2  { width:  (2/12) * 100%; }
.u-grid__col--3  { width:  (3/12) * 100%; }
.u-grid__col--4  { width:  (4/12) * 100%; }
.u-grid__col--5  { width:  (5/12) * 100%; }
.u-grid__col--6  { width:  (6/12) * 100%; }
.u-grid__col--7  { width:  (7/12) * 100%; }
.u-grid__col--8  { width:  (8/12) * 100%; }
.u-grid__col--9  { width:  (9/12) * 100%; }
.u-grid__col--10 { width: (10/12) * 100%; }
.u-grid__col--11 { width: (11/12) * 100%; }
.u-grid__col--12 { width: (12/12) * 100%; }