////////////////////////////////////////////////////////////////////////////////
//
// Base Variables
//
////////////////////////////////////////////////////////////////////////////////

$black: #000;
$gray: #adadad;
$white: #fff;

$blue: #031033;
$coral: #ff614d;
$brown: #ad8f6d;
$tan: #d3b27f;
$cream: #f8ecc2;


$base-font-family: 'Crimson Text', serif;
$base-font-weight: 400;
$base-font-style: normal;
$base-font-size: 62.5%;

$base-line-height: 1.5;

$text-color: $blue;
$link-color: $coral;